
<style>
.full {
  background-image: url("/assets/bgm.jpg");
.form-control{
    color:white;
    width:500px;
}
}
</style>



<div class = "full" style="max-width:100%;height:800px;">
 <h1 style = "color:white;text-align:center">THÊM TRUYỆN</h1>
 <div style="margin-left:450px;">
 
 
<%= render 'form', truyen: @truyen %>

<%= link_to 'Back', truyens_path %>

 </div>
 
</div>