<style>
.full {
  background-image: url("/assets/bgm.jpg");
.form-control{
    color:white;
    width:500px;
}
}
</style>
<div class = "full" style="max-width:100%;height:800px;">
 <h1 style = "color:white;text-align:center">CẬP NHẬT TRUYỆN</h1>
 <div style="margin-left:450px;">
 
 <label><%= @user.name %></label>
    
      <%= link_to "Logout", logout_path, method: :delete %> 

 </div>
 
</div>
  
  
